<div class="logo">

</div>
<div class="loginbox">
    <div class="search">
        <input id="s" type="text" placeholder="搜索" />
        <div class="searchimg"></div>
    </div>
    <div class="info">
        <!--<span></span>-->
        <img src="images/manage/header.jpg"/>
        <a class="js-username" href="#"></a>
        <i></i>
        <div class="dd">
            <div><a class="js-usercenter">个人中心</a></div>
            <!--<div><a target="_blank">个性设置</a></div>
            <div><a target="_blank">我的邮箱</a></div>-->
            <div><a class="js-logout">退出登录</a></div>
        </div>
    </div>
    <a class="people l"></a>
</div>
